{% extends "eboxApp/base.html" %}
    {% load static %}
{% block contenido_que_cambia %}
        <div class="container mt-5">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title mb-4 text-center">¿Quienes somos?</h2>
                    <h3 class="mb-3"></h3>
                    <p class="my-5">Ebox nace en julio del año 2020 de la mano de una oportunidad, y la necesidad de muchas empresas por cumplir con las exigencias de entrega que demandaba la pandemia. Con 3.000 m² de superficie disponible, hemos diseñado un sistema de preparación de pedidos fulfillment que permite tercerizar la operación logística de manera segura y eficaz.
                        Somos el intermediario entre el fabricante y sus clientes. Almacenamos tus productos, organizamos las operaciones de transporte, entregamos trazabilidad de mercancías con stock en línea, nos encargamos de las operaciones del almacén como la preparación de pedidos, inventarios y logística inversa.
                        Realizamos picking y packing de bajos y altos volúmenes, almacenamos todo tipo de mercancías en nuestros racks paletizados y estanterías previamente georreferenciados para dar agilidad a la operación.
                        </p>
                    <h2 class="card-title mb-4 text-center">Pocket Warehouse</h2>
                    <p class="my-5">Es una herramienta para quienes comienzan un negocio y aún no necesitan tercerizar la operación logística. Esta les permite organizar correctamente su inventario, permitiendo matener el control desde el inicio. Sumado a eso tienes la alternativa de migrar la información y la operación hacia una tercerización cuando lo requieras, ya que el formato que se trabaja
                        nos permite recibir tu mercancía de manera correcta.
                        </p>
                </div>
            </div>
        </div>

{% endblock %}