{% extends "eboxApp/base.html" %}
{% load static %}

{% block contenido_que_cambia %}

<div class="container" id = "cambiarestado">
  <div class="card mt-4">
    <div class="card-body">
      <h1 class="text-center my-5">Actualizar estado del registro</h1>
      <div class="table-responsive">
        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li{% if message.tags %} style="color: red;" class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        <form method="post">
          {% csrf_token %}
          {{ form.estado }}
          <br>
          <button type="submit" name="accion" value="actualizar" class="btn btn-primary">Actualizar</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
