{% extends "eboxApp/base.html" %}
    {% load static %}
{% block contenido_que_cambia %}
        <div class="container mt-5">
            <div class="card">
            <div class="card-body">
                <h2 class="card-title mb-4 text-center">+ EDITA EL PRODUCTO DE LA MAESTRA</h2>
                <h3 class="mb-3">1. Cambia los datos.</h3>

                    {% if success %} <!--aqui llamo a la variable exitoso de view , que tiene un valor True y asi envio el mensaje -->
                    <div class="alert alert-success" role="alert">
                        Formulario creado con éxito.
                    </div>
                    {% endif %}

                    {% if maestra_prod.errors %}
                    <p style="color: red;"> Revisa los datos ingresados.</p>
                    {% endif %}

                    <form method='POST'>
                    {% csrf_token %}
                    <!-- Aca esta la magia de Django -->
                    <div class="form-group">

                        {{maestra_prod.as_table}}

                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
                </div>
            </div>
    

{% endblock %}