
{% extends "eboxApp/base.html" %}
    {% load static %}

{% block texto_sobre_imagen %}
    <div>
        <h1 class="mb-5">POCKET WARE_HOUSE </h1>
    </div>                    
{% endblock %}


{% block contenido_que_cambia %}

    <!-- esto es lo que va a cambiar-->
    <br>
    <br>
    <h1 align="center"><!--POCKET WARE_HOUSE de EBOX >_-->  </h1>
    <p align = "justify"> 
        <div class="container">  
            <br>Esta herramienta esta contruida para quienes estan iniciando un negocio que necesita administración de inventario.LLevar el registro de tus compras o recepciones y tus ventas o egresos, te permitirá tener dominado tu inventario
            <br><br>
            <h4><br>Sabras perfectamente cuanto puedes vender, cuando comprar, cuantas unidades haz vendido y mucho más!<br></h4>
            <br>
            <br>Solo tienes que crear tu maestra de productos y estás listo. Puedes ir agregando otros a medida que vas creciendo. Registra tus recepciones y tus ventas para tener la máxima experiencia.Esperamos sea de gran ayuda. Si necesitas algo más, contactanos a EBOX Fulfillment. 
            <br>
            <br>
        </div>
        <div class = "container">
            <h3 align = "center"> - Nombre | Sku | Categoria - </h3>
         </div>
    </p>
    <br>
    {% endblock %}

    {% block contenido_de_inicio %}
    <!-- Icons Grid-->
    <br>
    <br>
    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex"><i class="bi-window m-auto text-primary"></i></div>
                        <h3>Crea tu maestra</h3>
                        <p class="lead mb-0">La maestra de productos es el listado ordenado con nombre y sku de tus productos</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                        <h3>Carga tus ingresos</h3>
                        <p class="lead mb-0">A través de las recepciones vas ingresando unidades de productos a tu inventarios</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-primary"></i></div>
                        <h3>Carga las ventas</h3>
                        <p class="lead mb-0">Podrás llevar un registro de las ordenes de ventas e irán descontando de tu inventario</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Image Showcases-->
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url({% static 'eboxApp/assets/img/bg-showcase-1.jpg' %})"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Tu inventario en linea</h2>
                    <p class="lead mb-0">Ya no tendrás que preocuparte de tu inventario. Sabras exactamente cuantas unidades tienes por producto</p>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-lg-6 text-white showcase-img" style="background-image: url({% static 'eboxApp/assets/img/bg-showcase-2.jpg' %})"></div>
                <div class="col-lg-6 my-auto showcase-text">
                    <h2>Registros de entradas y salidas</h2>
                    <p class="lead mb-0">Llevar un registro de tus movimientos te permitirá entender tu negocio, cuidar tus productos y mantener el orden</p>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url({% static 'eboxApp/assets/img/bg-showcase-3.jpg' %})"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Facil de usar!</h2>
                    <p class="lead mb-0">Solo debes crear tu maestra y comenzar!</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonials-->
    <section class="testimonials text-center bg-light">
        <div class="container">
            <h2 class="mb-5">Lo que diran las personas...</h2>
            <div class="row">
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="{% static 'eboxApp/assets/img/testimonials-2.jpeg' %}" alt="..." />
                        <h5>Toño L.</h5>
                        <p class="font-weight-light mb-0">"Por fín una aplicación amigable para ordenar mi inventario en mi casa!"</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="{% static 'eboxApp/assets/img/testimonials-1.png' %}" alt="..." />
                        <h5>Teresita Z.</h5>
                        <p class="font-weight-light mb-0">"Aplicación muy cercana que me ha ayudado a crecer mi negocio!"</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="{% static 'eboxApp/assets/img/testimonials-3.jpg' %}" alt="..." />
                        <h5>Sarah W.</h5>
                        <p class="font-weight-light mb-0">"Increible aplicación. Me encanta Pocket WareHouse!!!"</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Call to Action-->
    <section class="call-to-action text-white text-center" id="signup">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <h2 class="mb-4">Quieres usarla. Escribenos...!</h2>
                    <!-- Signup form-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                    <form class="form-subscribe" id="contactFormFooter" data-sb-form-api-token="API_TOKEN">
                        <!-- Email address input-->
                        <div class="row">
                            <div class="col">
                                <input class="form-control form-control-lg" id="emailAddressBelow" type="email" placeholder="Email Address" data-sb-validations="required,email" />
                                <div class="invalid-feedback text-white" data-sb-feedback="emailAddressBelow:required">Email Address es requerido.</div>
                                <div class="invalid-feedback text-white" data-sb-feedback="emailAddressBelow:email">Email Address Email no es valida.</div>
                            </div>
                            <div class="col-auto"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Enviar</button></div>
                        </div>
                        <!-- Submit success message-->
                        <!---->
                        <!-- This is what your users will see when the form-->
                        <!-- has successfully submitted-->
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Formulario no terminado!</div>
                                <p>Todavia no esta operativo</p>
                                <a class="text-white" href="#direccion">Aun no activado!</a>
                            </div>
                        </div>
                        <!-- Submit error message-->
                        <!---->
                        <!-- This is what your users will see when there is-->
                        <!-- an error submitting the form-->
                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}