
{% extends "eboxApp/base.html" %}
    {% load static %}

{% block texto_sobre_imagen %}
<section class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-10"> <!--modificando el numero puedo arreglar el formato del texto-->
          <h1 class="my-5" align = 'center'>POCKET WARE_HOUSE</h1>
          <p class="my-5">La herramienta perfecta para administrar el inventario de tu negocio. Crea tu maestra de productos, registra tus ingresos y ventas, y lleva un control detallado de tu inventario. Regístrate hoy y comienza a usar Pocket Ware_House.</p>
          <a class="btn btn-primary" href="#">Regístrate ahora</a>
        </div>
      </div>
    </div>
  </section>          
{% endblock %}


{% block contenido_que_cambia %}

    <!-- esto es lo que va a cambiar-->
    <br>
    <br>
    {% comment %} <h1 align="center"><!--POCKET WARE_HOUSE de EBOX >_-->  </h1>
    <p align = "justify"> 
        <div class="container">  
            <br>Esta herramienta esta contruida para quienes estan iniciando un negocio que necesita administración de inventario.LLevar el registro de tus compras o recepciones y tus ventas o egresos, te permitirá tener dominado tu inventario
            <br><br>
            <h4><br>Sabras perfectamente cuanto puedes vender, cuando comprar, cuantas unidades haz vendido y mucho más!<br></h4>
            <br>
            <br>Solo tienes que crear tu maestra de productos y estás listo. Puedes ir agregando otros a medida que vas creciendo. Registra tus recepciones y tus ventas para tener la máxima experiencia.Esperamos sea de gran ayuda. Si necesitas algo más, contactanos a EBOX Fulfillment. 
            <br>
            <br>
        </div> {% endcomment %}
        <div class = "container">
            <h3 align = "center"> - Nombre | Sku | Categoria - </h3>
         </div>
    </p>
    <br>
    {% endblock %}

    {% block contenido_de_inicio %}
    <!-- Icons Grid-->
    <br>
    <br>
    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex"><i class="bi-list m-auto text-primary"></i></div>
                        <h3>1.- Crea tu maestra</h3>
                        <p class="lead mb-0">Crea una lista ordenada con el nombre y SKU de tus productos.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex"><i class="bi-upload m-auto text-primary"></i></div>
                        <h3>2.- Registra tus ingresos</h3>
                        <p class="lead mb-0">Agrega unidades de productos a tu inventario a través de las recepciones.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <div class="features-icons-icon d-flex"><i class="bi-basket m-auto text-primary"></i></div>
                        <h3>3.- Registra tus ventas</h3>
                        <p class="lead mb-0">Lleva un registro de las órdenes de ventas y descuenta las unidades vendidas de tu inventario.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <div class="features-icons-icon d-flex"><i class="bi-archive m-auto text-primary"></i></div>
                        <h3>4.- Analiza tu stock en linea</h3>
                        <p class="lead mb-0">Llevar un detalle del inventario disponible te permitirá saber cuanto puedes vender.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Image Showcases-->
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url({% static 'eboxApp/assets/img/bg-showcase-1.png' %})"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Tu inventario en linea</h2>
                    <p class="lead mb-0">Ya no tendrás que preocuparte de tu inventario. Sabras exactamente cuantas unidades tienes por producto</p>
                </div>
            </div>
            {% comment %} <div class="row g-0">
                <div class="col-lg-6 text-white showcase-img" style="background-image: url({% static 'eboxApp/assets/img/bg-showcase-2.jpg' %})"></div>
                <div class="col-lg-6 my-auto showcase-text">
                    <h2>Registros de entradas y salidas</h2>
                    <p class="lead mb-0">Llevar un registro de tus movimientos te permitirá entender tu negocio, cuidar tus productos y mantener el orden</p>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url({% static 'eboxApp/assets/img/bg-showcase-3.jpg' %})"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Facil de usar!</h2>
                    <p class="lead mb-0">Solo debes crear tu maestra y comenzar!</p>
                </div>
            </div>
        </div> {% endcomment %}
    </section>
    <!-- Testimonials-->
    <section class="testimonials text-center bg-light">
        <div class="container">
            {% comment %} <h2 class="mb-5">Lo que diran las personas...</h2>
            <div class="row">
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="{% static 'eboxApp/assets/img/testimonials-2.jpeg' %}" alt="..." />
                        <h5>Toño L.</h5>
                        <p class="font-weight-light mb-0">"Por fín una aplicación amigable para ordenar mi inventario en mi casa!"</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="{% static 'eboxApp/assets/img/testimonials-1.png' %}" alt="..." />
                        <h5>Teresita Z.</h5>
                        <p class="font-weight-light mb-0">"Aplicación muy cercana que me ha ayudado a crecer mi negocio!"</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="{% static 'eboxApp/assets/img/testimonials-3.jpg' %}" alt="..." />
                        <h5>Sarah W.</h5>
                        <p class="font-weight-light mb-0">"Increible aplicación. Me encanta Pocket WareHouse!!!"</p>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>
    </section>
    <!-- Call to Action-->
    <section class="call-to-action text-white text-center" id="signup">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <h2 class="mb-4">¡Estás listo para llevar tu negocio al siguiente nivel!</h2>
                    <p>Completa el siguiente formulario y nos pondremos en contacto contigo lo antes posible:</p>
                    <!-- Signup form-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                    <form class="form-subscribe" id="contactFormFooter" data-sb-form-api-token="API_TOKEN">
                        <div class="form mb-3">
                            <input class="form-control" id="name" name="name" type="text" placeholder="Nombre completo" required>

                            <div class="invalid-feedback" data-sb-feedback="name:required">Este campo es requerido.</div>
                        </div>
                        <div class="form  mb-3">
                            <input class="form-control" id="email" name = "email" type="email" placeholder="Correo electrónico" required />

                            <div class="invalid-feedback" data-sb-feedback="email:required">Este campo es requerido.</div>
                            <div class="invalid-feedback" data-sb-feedback="email:email">Ingresa un correo electrónico válido.</div>
                        </div>
                        <div class="form mb-3">
                            <input class="form-control" id="phone" name = "phone" type="tel" placeholder="Teléfono" required />

                            <div class="invalid-feedback" data-sb-feedback="phone:required">Este campo es requerido.</div>
                        </div>
                        <div class="form mb-3">
                            <textarea class="form-control" id="message" name = "message" placeholder="Mensaje" style="height: 10rem" required></textarea>

                            <div class="invalid-feedback" data-sb-feedback="message:required">Este campo es requerido.</div>
                        </div>
                        <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
                        
    {% endblock %}