{% extends "eboxApp/base.html" %}
    {% load static %}
{% block contenido_que_cambia %}
<div class="container mt-5">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title mb-4 text-center">+ RECEPCIONES</h2>
        <h3 class="mb-3">1. Ingresa la mercadería que recibiste.</h3>

        {% if recepcion_prod.errors %}
        <p style="color: red;"> Estan mal los datos, revisar</p>
        {% endif %}

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li style="color: red;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <form method='POST'>
            {% csrf_token %}
            <!-- Aca esta la magia de Django -->
            <div class="form-group">

                {{recepcion_prod.as_table}}

            </div>
            <p class="text-muted">* Solo se pueden seleccionar los productos creados en la maestra.</p>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
      </div>


      <div class="card mt-4">
        <div class="card-body">
          <h3 class="mb-3">2. Ver todas las recepciones que haz recibido.</h3>
          <p style="color: gray;" >Revisa la lista de tus ingresos.</p>
          <form action="wRecepcion_full/" method="GET">
            <button type="submit" class="btn btn-primary">Buscar</button>
          </form>
        </div>
      </div>
    </div>
   

{% endblock %}