{% extends "eboxApp/base.html" %}
{% load static %}

{% block texto_sobre_imagen %}


{% endblock %}

{% block contenido_que_cambia %}

    <div class="container my-5">
      <div class="card mt-4">
        <div class="card-body">
          <h1 class="text-center my-4">Stock en línea</h1>
          <h6 class="text-center my-4" aling = "justify-content-center">Aqui verás las mercadería que tienes. No esta descontado lo que aun no preparas. Debes cambiar el estado para descontar unidades.</h6>

          <div class="container my-5">
            <div class="card mt-4">
              <div class="card-body">
                <div class="text-center">
                  <p>Para cambiar estado entra aquí</p>
                  <a href="{% url 'eboxApp:buscarTodoEgreso' %}" class="btn btn-primary">Cambiar estados</a>
              </div>
            </div>
          </div>
        </div>
          <div class="row">
            <div class="col">
              <table class="table">
                <thead class="thead-light">
                  <tr class = "table-secondary">
                    <th>ID de producto</th>
                    <th>SKU</th>
                    <th>Nombre del producto</th>
                    <th>Categoría</th>
                    <th>Unidades totales</th>
                    <th>Unidades reservadas</th>
                    <th>Unidades disponibles</th>
                  </tr>
                </thead>
                <tbody>
                  {% for inventario in inventarios %}
                  <tr>
                    <td>{{ inventario.sku.id }}</td>
                    <td>{{ inventario.sku.numero_sku }}</td>
                    <td>{{ inventario.sku.nombre_producto }}</td>
                    <td>{{ inventario.sku.categoria }}</td>
                    <td>{{ inventario.tot_unidades }}</td>
                    <td>{{ inventario.unidades_reservadas }}</td>
                    <td>{{ inventario.unidades_disponibles }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <p class="text-muted">El stock se actualiza en línea mientras gestionas tus ingresos/recepciones y tus ventas/egresos</p>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
