{% extends "eboxApp/base.html" %}
{% load static %}

{% block contenido_que_cambia %}
<div class="container">
  <div class="card mt-4">
    <div class="card-body">
      <h1 class="text-center my-5">Lista de Egreso de las órdenes de venta</h1>
      <p>Solo el estado "Preparado" descontará las unidades de tu stock en linea</p>
      <p>El estado cancelado retornará unidades a tu stock - ten cuidado de no hacerlo cuando ya haya sido entregado</p>
      <p>El estado entregado es solo informativo</p>
      {% if salidas %}
      <div class="table-responsive">
        <form method="post">
          {% csrf_token %}
          <table class="table">
            <thead>
              <tr>
                <th>ID Orden</th>
                <th>Orden de venta</th>
                <th>Fecha de despacho</th>
                <th>ID de producto</th>
                <th>SKU</th>
                <th>Nombre del producto</th>
                <th>Unidades</th>
                <th>Estado actual</th>
                <th>Cambiar estado</th>

              </tr>
            </thead>
            <tbody>
              {% for salida in salidas %}
              <tr>
                <td>{{ salida.pk }}</td>
                <td>{{ salida.orden_venta }}</td>
                <td>{{ salida.fecha_despacho }}</td>
                <td>{{ salida.sku_out.id }}</td>
                <td>{{ salida.sku_out.numero_sku }}</td>
                <td>{{ salida.sku_out.nombre_producto }}</td>
                <td>{{ salida.unidades_out }}</td>
                <td>{{ salida.estado.estado }}</td>
                <td>
                  <a href="{% url 'eboxApp:actualizar_estados' id_salida=salida.pk %}" class="btn btn-primary">Cambiar</a>
              </td>
            </tr>
              {% endfor %}
            </tbody>
          </table>
        </form>
      </div>
      {% else %}
      <div class="text-center">
        <h1>No hay datos</h1>
        <a class="btn btn-warning" href="{% url 'eboxApp:Egreso' %}">Volver</a>
      </div>
      {% endif %}
      
    </div>
  </div>
</div>
{% endblock %}
