{% extends "eboxApp/base.html" %}
    {% load static %}
    
{% block texto_sobre_imagen %}


{% endblock %} 

{% block contenido_que_cambia %}

<div class="container" align="center">
    <br>
    <h1 class="mb-5">Egreso de productos completa - orden de venta>_</h1> 
    {% if salidas %}

                    <table> 
                        <tr>
                            <th style="text-align: left"><h3>ID</h3></th>
                            <th style="text-align: left"><h3>Orden de venta</h3></th>
                            <th style="text-align: left"><h3>Sku</h3></th>
                            <th style="text-align: left"><h3>Unidades</h3></th>
                            
                        </tr>

                        {% for i in salidas %}

                        <tr>
                            <td style="text-align: left"><h6>{{i.pk}}</h6></td>
                            <td style="text-align: left"><h6>{{i.orden_venta}}</h6></td>
                            <td style="text-align: left"><h6>{{i.sku_out}}</h6></td>
                            <td style="text-align: left"><h6>{{i.unidades_out}}</h6></td>

                        </tr>
                        {% endfor %}

                    </table>
                    
                <br>
                <br>
                <a class="btn btn-success" align = "center" href={% url 'eboxApp:Egreso' %}>Volver</a> <!-- "content-buttons" tipo de boton-->
                
                {% else %}
                <p> 
                    ____________________________________
                    <h1>No hay datos </h1>
                    ____________________________________
                    <br>
                    <br>
                    <a class="btn btn-warning" align = "center" href="{% url 'eboxApp:Egresi' %}">Volver</a> <!-- "content-buttons" tipo de boton-->
                </p>

    {% endif %} 

</div>
{% endblock %}

