{% extends "eboxApp/base.html" %}
    {% load static %}
{% block texto_sobre_imagen %}


            <h1 class="mb-5">Formulario creado exitosamente!</h1> 
            <a class="btn btn-success" href="">Aceptar</a> <!-- "content-buttons" tipo de boton, ademas sejar vacio el href me lleva a la pagina donde estaba?-->

                            
{% endblock %} 

<!--
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>

    <button type="button" class="btn btn-link">Enlace</button>

-->