{% extends "eboxApp/base.html" %}
{% load static %}

{% block texto_sobre_imagen %}
{% endblock %} 

{% block contenido_que_cambia %}

<div class="container text-center py-5">
  <h1 class="mb-5">Formulario creado exitosamente!</h1>
  <a class="btn btn-success" href="{% url 'eboxApp:stock_en_linea' %}">Aceptar</a>
</div>

{% endblock %}


<!--
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>

    <button type="button" class="btn btn-link">Enlace</button>

-->