{% extends "eboxApp/base.html" %}
{% load static %}

{% block texto_sobre_imagen %}

{% endblock %} 

{% block contenido_que_cambia %}

<div class="container" id = "listadocatalogo">
    <div class="card mt-4">
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <br> 
                    <h1 class="text-center my-5">Lista de tu Maestra de productos</h1>
                    <h5 class="text-center my-5">Eliminar un producto de tu catálogo, eliminará todos los registros relacionados</h5>
                    {% if producto %}
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr class = "table-secondary">
                                        <th scope="col">ID</th>
                                        <th scope="col">Producto</th>
                                        <th scope="col">SKU</th>
                                        <th scope="col">Categoría</th>
                                        <th scope="col">Acción 1</th>
                                        <th scope="col">Acción 2</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in producto %}
                                        <tr>
                                            <th scope="row">{{ i.pk }}</th>
                                            <td>{{ i.nombre_producto }}</td>
                                            <td>{{ i.numero_sku }}</td>
                                            <td>{{ i.categoria }}</td>
                                            <td> <button class="btn btn-warning">
                                               <a  href="{% url 'eboxApp:EliminarProducto' i.numero_sku %}"> Eliminar</a>
                                                 </button>
                                            </td>
                                            <td> <button class="btn btn-warning">
                                                <a  href="{% url 'eboxApp:EditarProducto' i.numero_sku %}"> Editar</a>
                                                  </button>
                                             </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center mt-5">
                            <a class="btn btn-success" href="{% url 'eboxApp:Maestra' %}">Volver</a>
                        </div>
                    {% else %}
                        <div class="text-center">
                            <h1>No hay datos</h1>
                            <a class="btn btn-warning" href="{% url 'eboxApp:Maestra' %}">Volver</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
