{% extends "eboxApp/base.html" %}
    {% load static %}
    
{% block texto_sobre_imagen %}


{% endblock %} 

{% block contenido_que_cambia %}

<div class="container" align="center">
    <h1 class="mb-5">Resultado de tu busqueda >_</h1> 
    {% if producto %}

                    <table> 
                        <tr>
                            <th><h3>ID</h3></th>
                            <th><h3>Producto</h3></th>
                            <th><h3>Sku</h3></th>
                            
                        </tr>

                        {% for i in producto %}

                        <tr>
                            <td><h6>{{i.pk}}</h6></td>
                            <td><h6>{{i.nombre_producto}}</h6></td>
                            <td><h6>{{i.numero_sku}}</h6></td>
                        </tr>
                        {% endfor %}

                    </table>
                    
                <br>
                <br>
                <a class="btn btn-success" align = "center" href={% url 'Maestra' %}>Volver</a> <!-- "content-buttons" tipo de boton-->
                
                {% else %}
                <p> 
                    ____________________________________
                    <h1>No hay datos con la nombre_producto: {{nombre_producto}} </h1>
                    ____________________________________
                    <br>
                    <br>
                    <a class="btn btn-warning" align = "center" href="{% url 'Maestra' %}">Volver</a> <!-- "content-buttons" tipo de boton-->
                </p>

    {% endif %} 

</div>
{% endblock %}

